

html{
  height: 100%;
}
body{
  height: 100%;
  background: linear-gradient(270deg, #141754 0%, #112374 28.33%, #0F2982 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;

}
h1{
  text-align: center;
  color: white;
  margin-top: 0;
}
.todo-wrapper{
  padding: 50px;
  background: rgb(4 84 242 / 50%);
  border-radius: 30px;
  min-width: 350px;
}
.todoform{
  border: 1px solid white;
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.todoinput{
  background: transparent;
  font-size: 14px;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    width: calc(100% - 120px);
}
.todoinput::placeholder{
  color: white;
  font-size: 14px;
}
.todo-btn{
  color: rgb(255, 255, 255) !important;
  background: rgb(15, 40, 130);
  border: none;
  padding: 10px;
  font-size: 14px;
}
.todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: #131d63;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  margin: 10px 0;
}
.todo div > svg{
  margin: 0 10px;
}